<header class="header">
  <div class="header__wrapper">
    <div class="header__logo-wrapper">
      <a href="#">Currency converter</a>
    </div>
    <div class="header__currency-block">
      <div class="header__currency">
        <p class="header__currency-title">
          USD:
        </p>
        <p class="header__currency-value">{{ this.usdValue}}</p>
      </div>
      <div class="header__currency">
        <p class="header__currency-title">EUR: </p>
        <p class="header__currency-value">{{ this.eurValue}}</p>
      </div>
    </div>

  </div>
</header>


